* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

li {
  list-style: none; }

a {
  text-decoration: none; }

#box {
  width: 100%; }
  #box header {
    width: 100%;
    height: 6rem;
    background: #f8f8f8; }
    #box header #header_a {
      width: 100%;
      background: #ed5105;
      text-align: center;
      height: 60%; }
      #box header #header_a a {
        position: relative; }
        #box header #header_a a img {
          height: 100%; }
    #box header #hr_header {
      width: 100%;
      line-height: 2rem; }
      #box header #hr_header a {
        position: relative;
        color: #999999; }
      #box header #hr_header a:hover {
        color: #d00a17; }
      #box header #hr_header span {
        font-weight: bold; }
      #box header #hr_header #header_one {
        width: 15%;
        left: 7%; }
      #box header #hr_header #header_two {
        width: 45%;
        right: 7%; }
      #box header #hr_header ul {
        position: absolute;
        display: flex;
        -webkit-justify-content: center; }
        #box header #hr_header ul li {
          -webkit-flex-grow: 1; }
  #box .content {
    margin-top: 3rem;
    position: relative;
    width: 100%; }
    #box .content #content_header {
      width: 100%;
      height: 8rem;
      position: relative;
      display: flex;
      -webkit-justify-content: space-around; }
      #box .content #content_header #con_hea_img {
        position: absolute;
        left: 7%;
        width: 28%;
        height: 5rem;
        display: flex;
        -webkit-justify-content: space-between; }
        #box .content #content_header #con_hea_img img {
          width: 45%;
          height: 100%; }
      #box .content #content_header #con_hea_one {
        position: absolute;
        width: 40%;
        left: 38%; }
        #box .content #content_header #con_hea_one #con_hea_one_inp {
          background: #AA0000; }
          #box .content #content_header #con_hea_one #con_hea_one_inp input {
            position: relative;
            width: 88%;
            height: 2.5rem;
            border: 0.2rem solid #A10000;
            outline: none; }
          #box .content #content_header #con_hea_one #con_hea_one_inp a {
            color: white;
            font-size: 1.5rem;
            font-weight: 800; }
        #box .content #content_header #con_hea_one #con_hea_one_p {
          line-height: 2.5rem;
          position: absolute;
          width: 100%;
          width: 100%;
          display: flex;
          -webkit-justify-content: space-around; }
          #box .content #content_header #con_hea_one #con_hea_one_p li {
            -webkit-flex-grow: 1; }
            #box .content #content_header #con_hea_one #con_hea_one_p li a {
              color: #999999; }
            #box .content #content_header #con_hea_one #con_hea_one_p li a:hover {
              color: #d00a17; }
          #box .content #content_header #con_hea_one #con_hea_one_p .con_hea_one_p_a {
            color: orange;
            font-size: 1.5rem; }
      #box .content #content_header #con_hea_two {
        height: 8rem;
        padding: 0.5rem;
        border: 1px solid #999999;
        position: absolute;
        right: 7%; }
        #box .content #content_header #con_hea_two p {
          color: #999999;
          line-height: 1.5rem; }
    #box .content #content_content {
      width: 100%;
      height: 600rem; }
      #box .content #content_content #con_con_header {
        position: relative;
        width: 80%;
        height: 3rem;
        left: 7%; }
        #box .content #content_content #con_con_header #con_con_header_one {
          width: 20%;
          height: 100%;
          text-align: center;
          line-height: 3rem;
          background: red;
          position: absolute;
          font-size: 2rem; }
          #box .content #content_content #con_con_header #con_con_header_one a {
            color: white; }
        #box .content #content_content #con_con_header ul {
          width: 65%;
          height: 3rem;
          line-height: 3rem;
          display: flex;
          -webkit-justify-content: space-around;
          -webkit-flex-grow: 1;
          float: left;
          position: absolute;
          left: 20%; }
          #box .content #content_content #con_con_header ul #hot {
            position: absolute; }
          #box .content #content_content #con_con_header ul a {
            font-size: 1.5rem;
            color: black; }
      #box .content #content_content #con_con_banner {
        width: 100%;
        position: absolute; }
        #box .content #content_content #con_con_banner #banner {
          height: 38.3rem;
          overflow: hidden; }
          #box .content #content_content #con_con_banner #banner ul {
            width: 400%;
            display: flex;
            height: 100%; }
            #box .content #content_content #con_con_banner #banner ul li {
              width: 100%; }
              #box .content #content_content #con_con_banner #banner ul li img {
                width: 100%;
                height: 38.3rem; }
          #box .content #content_content #con_con_banner #banner #bar {
            width: 15rem;
            height: 3rem;
            position: absolute;
            bottom: 1rem;
            left: 45%;
            display: flex;
            -webkit-justify-content: space-around; }
            #box .content #content_content #con_con_banner #banner #bar span {
              width: 7%;
              height: 35%;
              border-radius: 50%;
              border: 2px solid white;
              position: relative;
              top: 0.8rem; }
              #box .content #content_content #con_con_banner #banner #bar span.on {
                background: white; }
      #box .content #content_content #con_con_shop {
        width: 80%;
        height: 38.3rem;
        position: relative;
        z-index: 999;
        left: 7%; }
        #box .content #content_content #con_con_shop #con_con_shop_left {
          width: 20%;
          height: 100%;
          background-color: rgbA(0, 0, 0, 0.7);
          display: flex;
          -webkit-flex-direction: column;
          -webkit-justify-content: space-around;
          position: absolute; }
          #box .content #content_content #con_con_shop #con_con_shop_left p {
            font-size: 1.5rem;
            position: relative;
            left: 20%;
            top: 1rem; }
            #box .content #content_content #con_con_shop #con_con_shop_left p a {
              color: white; }
          #box .content #content_content #con_con_shop #con_con_shop_left div {
            position: relative;
            left: 20%;
            line-height: 3rem; }
            #box .content #content_content #con_con_shop #con_con_shop_left div a {
              color: #c8c8c8; }
          #box .content #content_content #con_con_shop #con_con_shop_left a:hover {
            color: #AA0000; }
        #box .content #content_content #con_con_shop #con_con_shop_right {
          width: 17%;
          height: 90%;
          position: absolute;
          right: -6%;
          margin: 2.5% 0;
          background: rgbA(255, 255, 255, 0.7);
          text-align: center; }
          #box .content #content_content #con_con_shop #con_con_shop_right #right_top {
            text-align: center;
            width: 100%;
            height: 3rem;
            position: absolute;
            top: 20%;
            font-size: 1.5rem;
            color: #333333; }
            #box .content #content_content #con_con_shop #con_con_shop_right #right_top span {
              color: #AA0000;
              font-size: 2rem;
              font-weight: 900; }
          #box .content #content_content #con_con_shop #con_con_shop_right #right_bottom {
            text-align: center;
            width: 100%;
            height: 3rem;
            position: absolute;
            top: 40%;
            font-size: 1.5rem;
            color: #333333; }
            #box .content #content_content #con_con_shop #con_con_shop_right #right_bottom span {
              color: #333333;
              font-size: 2rem;
              font-weight: 900; }
      #box .content #content_content #con_con_img_four {
        width: 90%;
        height: 20rem;
        position: relative;
        left: 4.8%; }
        #box .content #content_content #con_con_img_four #four_ul_one {
          width: 96%;
          height: 90%;
          display: flex;
          -webkit-justify-content: space-around;
          padding: 2%;
          position: relative; }
          #box .content #content_content #con_con_img_four #four_ul_one li {
            width: 24%;
            height: 90%;
            overflow: hidden; }
            #box .content #content_content #con_con_img_four #four_ul_one li a {
              width: 20%;
              height: 90%; }
              #box .content #content_content #con_con_img_four #four_ul_one li a img {
                width: 110%;
                height: 90%; }
            #box .content #content_content #con_con_img_four #four_ul_one li a:hover img {
              width: 100%; }
        #box .content #content_content #con_con_img_four #four_ul_two {
          width: 100%;
          position: absolute;
          top: 25%;
          z-index: 999; }
          #box .content #content_content #con_con_img_four #four_ul_two li {
            width: 24%;
            position: relative;
            left: 4%;
            float: left; }
            #box .content #content_content #con_con_img_four #four_ul_two li .four_a {
              font-size: 2rem;
              font-weight: 800; }
            #box .content #content_content #con_con_img_four #four_ul_two li a {
              color: black;
              font-size: 1.3rem; }
            #box .content #content_content #con_con_img_four #four_ul_two li a:hover {
              color: #AA0000; }
      #box .content #content_content .con_con_img_1 {
        width: 86%;
        height: 53rem;
        position: relative;
        left: 7%;
        top: 0;
        bottom: 10%; }
        #box .content #content_content .con_con_img_1 .img_hr_p {
          position: absolute;
          font-size: 2rem;
          width: 18.5%;
          height: 2rem;
          padding-bottom: 0.5rem; }
          #box .content #content_content .con_con_img_1 .img_hr_p a {
            color: black; }
          #box .content #content_content .con_con_img_1 .img_hr_p a:hover {
            color: #AA0000; }
        #box .content #content_content .con_con_img_1 .img_hr_div {
          width: 15%;
          position: absolute;
          left: 18.5%;
          line-height: 2rem;
          display: flex;
          -webkit-justify-content: space-between; }
          #box .content #content_content .con_con_img_1 .img_hr_div a {
            font-size: 1.5rem;
            color: black; }
          #box .content #content_content .con_con_img_1 .img_hr_div .img_hr_div_a {
            font-weight: 900;
            font-size: 1.8rem;
            padding-bottom: 0.4rem;
            border-bottom: 3px solid black; }
        #box .content #content_content .con_con_img_1 .img_hr_ul {
          width: 40%;
          height: 2rem;
          line-height: 2rem;
          padding-bottom: 0.4rem;
          position: absolute;
          right: 0;
          display: flex;
          -webkit-justify-content: space-between; }
          #box .content #content_content .con_con_img_1 .img_hr_ul a {
            color: #666666; }
          #box .content #content_content .con_con_img_1 .img_hr_ul a:hover {
            color: #AA0000; }
        #box .content #content_content .con_con_img_1 .img_imgs_ {
          height: 50.5rem;
          border-top: 1px solid black;
          position: relative;
          top: 2.5rem;
          border-right: 1px solid #eeeeee;
          border-bottom: 1px solid #eeeeee;
          border-left: 1px solid #eeeeee; }
          #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left {
            width: 18.5%;
            height: 100%;
            background: #fcfcfc;
            position: absolute; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_img {
              position: absolute;
              width: 100%;
              height: 50%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_img img {
                position: absolute;
                width: 100%;
                height: 100%; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_a {
              width: 90%;
              height: 35%;
              position: relative;
              top: 5%;
              left: 10%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_a a {
                color: white; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_a .img_imgs_a_1 {
                font-size: 2.5rem;
                font-weight: 600;
                position: relative; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_a .img_imgs_a_2 {
                font-size: 1.5rem;
                font-weight: 600;
                top: 3%;
                position: relative; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_a .img_imgs_a_3 {
                position: relative;
                top: 15%;
                padding: 0.3rem 0.5rem;
                border: 1px solid white; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_ul {
              width: 80%;
              position: relative;
              height: 25%;
              margin-top: 50%;
              margin-left: 20%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_ul .img_imgs_ul_li {
                margin-top: 20%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_ul li {
                float: left;
                margin-right: 20%;
                margin-bottom: 10%; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_ul li a {
                  color: #A09D92; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_ul li a:hover {
                  color: #AA0000; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_imgs {
              width: 90%;
              height: 20%;
              position: absolute;
              left: 5%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_imgs li {
                float: left;
                width: 50%;
                height: 50%; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_imgs li img {
                  width: 100%;
                  height: 100%; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_imgs li .img_imgs_imgs_b {
                  border-left: 1px solid #eeeeee;
                  border-bottom: 1px solid #eeeeee; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_imgs li .img_imgs_imgs_c {
                  border-right: 1px solid #eeeeee;
                  border-top: 1px solid #eeeeee; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_imgs li .img_imgs_imgs_a {
                  border-right: 1px solid #eeeeee;
                  border-bottom: 1px solid #eeeeee; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_left .img_imgs_imgs li .img_imgs_imgs_d {
                  border-left: 1px solid #eeeeee;
                  border-top: 1px solid #eeeeee; }
          #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_center {
            width: 41%;
            height: 60%;
            position: absolute;
            left: 18.5%; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_center .img_imgs_cen_img {
              width: 100%;
              height: 100%;
              position: relative; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_center .img_imgs_cen_img li {
                width: 100%;
                height: 100%;
                position: absolute; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_center .img_imgs_cen_img li img {
                  width: 100%;
                  height: 100%; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_center .bar {
              width: 6rem;
              height: 2rem;
              position: absolute;
              bottom: 0.1rem;
              left: 45%;
              display: flex;
              -webkit-justify-content: space-around; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_center .bar span {
                width: 7%;
                height: 21%;
                border-radius: 50%;
                border: 2px solid white;
                position: relative;
                top: 0.8rem; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_center .bar span.ons {
                  background: white; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_center .img_imgs_cen_font {
              width: 50%;
              height: 25%;
              background: rgbA(255, 255, 255, 0.7);
              position: absolute;
              top: 65%;
              left: 25%;
              text-align: center; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_center .img_imgs_cen_font p {
                margin: 8% auto 0; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_center .img_imgs_cen_font p span {
                  border-bottom: 1px dotted;
                  font-size: 2rem;
                  font-weight: 600;
                  padding-bottom: 2%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_center .img_imgs_cen_font span {
                font-size: 1rem; }
          #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right {
            width: 41%;
            height: 60%;
            position: absolute;
            left: 59%;
            z-index: 999; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_left {
              width: 50%;
              height: 100%;
              position: absolute; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_left .right_lefts {
                width: 100%;
                height: 100%;
                position: absolute;
                overflow: hidden;
                background: white; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_left .right_lefts img {
                  width: 100%;
                  height: 99.7%;
                  position: absolute;
                  border-bottom: 1px solid #eeeeee; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_left .right_lefts .right_left span {
                  font-size: 1.2rem;
                  color: #AA0000;
                  position: absolute;
                  left: 35%;
                  width: 28%;
                  border: 1px solid #AA0000;
                  text-align: center;
                  padding: 0.5% 1%;
                  bottom: 0.1%; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_left .right_lefts span {
                  position: absolute;
                  bottom: 15%;
                  font-size: 1.3rem;
                  color: black;
                  left: 5%; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_left .right_lefts span:hover {
                  color: #AA0000; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_left .right_lefts .right_left_a {
                  font-size: 1.2rem;
                  position: absolute;
                  z-index: 999;
                  bottom: 10%;
                  color: #A09D92; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_left .right_lefts .right_left_b {
                  font-size: 1.2rem;
                  position: absolute;
                  z-index: 999;
                  bottom: 5%;
                  color: #A2A2A2;
                  left: 5%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_left a:hover .right_left {
                color: #AA0000; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_left a:hover img {
                left: -5%; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_right {
              width: 49.8%;
              height: 100%;
              position: absolute;
              left: 50%;
              border-left: 1px solid #eeeeee; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_right .right_rights {
                width: 100%;
                height: 49.8%;
                position: absolute;
                overflow: hidden;
                background: white; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_right .right_rights img {
                  width: 100%;
                  height: 99.7%;
                  position: relative;
                  border-bottom: 2px solid #eeeeee; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_right .right_rights .right_right span {
                  font-size: 1.2rem;
                  color: #AA0000;
                  position: absolute;
                  left: 35%;
                  width: 28%;
                  border: 1px solid #AA0000;
                  text-align: center;
                  padding: 0.5% 1%;
                  bottom: 0.1%; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_right .right_rights span {
                  position: absolute;
                  bottom: 25%;
                  font-size: 1.3rem;
                  color: black;
                  left: 5%;
                  width: 100%; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_right .right_rights span:hover {
                  color: #AA0000; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_right .right_rights .right_right_a {
                  font-size: 1.2rem;
                  position: absolute;
                  z-index: 999;
                  bottom: 15%;
                  color: #A09D92; }
                #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_right .right_rights .right_right_b {
                  font-size: 1.2rem;
                  position: absolute;
                  z-index: 999;
                  bottom: 5%;
                  color: #A2A2A2;
                  left: 5%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_right a:hover .right_right {
                color: #AA0000; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .imgs_right_right a:hover img {
                left: -5%; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .rights_rights {
              width: 100%;
              height: 49.8%;
              position: absolute;
              overflow: hidden;
              background: white;
              top: 50%;
              border-bottom: 1px solid #eeeeee; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .rights_rights img {
                width: 100%;
                height: 99.7%;
                position: relative; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .rights_rights .rights_right span {
                font-size: 1.2rem;
                color: #AA0000;
                position: absolute;
                left: 35%;
                width: 28%;
                border: 1px solid #AA0000;
                text-align: center;
                padding: 0.5% 1%;
                bottom: 0.1%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .rights_rights span {
                position: absolute;
                bottom: 25%;
                font-size: 1.3rem;
                color: black;
                left: 5%;
                width: 100%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .rights_rights span:hover {
                color: #AA0000; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .rights_rights .rights_right_a {
                font-size: 1.2rem;
                position: absolute;
                z-index: 999;
                bottom: 15%;
                color: #A09D92; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right .rights_rights .rights_right_b {
                font-size: 1.2rem;
                position: absolute;
                z-index: 999;
                bottom: 5%;
                color: #A2A2A2;
                left: 5%; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right a:hover .rights_right {
              color: #AA0000; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_right a:hover img {
              left: -5%; }
          #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom {
            width: 81.5%;
            height: 40%;
            background: red;
            position: absolute;
            left: 18.5%;
            top: 60%; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottom_a {
              width: 24.9%;
              height: 100%;
              position: absolute;
              overflow: hidden;
              background: white;
              border-left: 1px solid #eeeeee; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottom_a img {
                width: 100%;
                height: 99.7%;
                position: relative; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottom_a .bottom_b span {
                font-size: 1.2rem;
                color: #AA0000;
                position: absolute;
                left: 40%;
                width: 28%;
                border: 1px solid #AA0000;
                text-align: center;
                padding: 0.5% 1%;
                bottom: 0.1%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottom_a span {
                position: absolute;
                bottom: 25%;
                font-size: 1.3rem;
                color: black;
                left: 5%;
                width: 100%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottom_a span:hover {
                color: #AA0000; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottom_a .bottom_bottom_a {
                font-size: 1.2rem;
                position: absolute;
                z-index: 999;
                bottom: 15%;
                color: #A09D92; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottom_a .bottom_bottom_b {
                font-size: 1.2rem;
                position: absolute;
                z-index: 999;
                bottom: 5%;
                color: #A2A2A2;
                left: 5%; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom a:hover .bottom_b {
              color: #AA0000; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom a:hover img {
              left: -5%; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottoms_a {
              width: 24.9%;
              height: 100%;
              position: absolute;
              overflow: hidden;
              background: white;
              border-left: 1px solid #eeeeee;
              left: 25%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottoms_a img {
                width: 100%;
                height: 99.7%;
                position: relative; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottoms_a .bottoms_b span {
                font-size: 1.2rem;
                color: #AA0000;
                position: absolute;
                left: 35%;
                width: 28%;
                border: 1px solid #AA0000;
                text-align: center;
                padding: 0.5% 1%;
                bottom: 0.1%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottoms_a span {
                position: absolute;
                bottom: 25%;
                font-size: 1.3rem;
                color: black;
                left: 5%;
                width: 100%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottoms_a span:hover {
                color: #AA0000; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottoms_a .bottoms_bottom_a {
                font-size: 1.2rem;
                position: absolute;
                z-index: 999;
                bottom: 15%;
                color: #A09D92; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottoms_a .bottoms_bottom_b {
                font-size: 1.2rem;
                position: absolute;
                z-index: 999;
                bottom: 5%;
                color: #A2A2A2;
                left: 5%; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom a:hover .bottoms_b {
              color: #AA0000; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom a:hover img {
              left: -5%; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottom_as {
              width: 24.9%;
              height: 100%;
              position: absolute;
              overflow: hidden;
              background: white;
              border-left: 1px solid #eeeeee;
              left: 50%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottom_as img {
                width: 100%;
                height: 99.7%;
                position: relative; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottom_as .bottom_bs span {
                font-size: 1.2rem;
                color: #AA0000;
                position: absolute;
                left: 35%;
                width: 28%;
                border: 1px solid #AA0000;
                text-align: center;
                padding: 0.5% 1%;
                bottom: 0.1%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottom_as span {
                position: absolute;
                bottom: 25%;
                font-size: 1.3rem;
                color: black;
                left: 5%;
                width: 100%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottom_as span:hover {
                color: #AA0000; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottom_as .bottom_bottom_as {
                font-size: 1.2rem;
                position: absolute;
                z-index: 999;
                bottom: 15%;
                color: #A09D92; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottom_as .bottom_bottom_bs {
                font-size: 1.2rem;
                position: absolute;
                z-index: 999;
                bottom: 5%;
                color: #A2A2A2;
                left: 5%; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom a:hover .bottom_bs {
              color: #AA0000; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom a:hover img {
              left: -5%; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottoms_as {
              width: 24.9%;
              height: 100%;
              position: absolute;
              overflow: hidden;
              background: white;
              border-left: 1px solid #eeeeee;
              left: 75%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottoms_as img {
                width: 100%;
                height: 99.7%;
                position: relative; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottoms_as .bottoms_bs span {
                font-size: 1.2rem;
                color: #AA0000;
                position: absolute;
                left: 35%;
                width: 28%;
                border: 1px solid #AA0000;
                text-align: center;
                padding: 0.5% 1%;
                bottom: 0.1%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottoms_as span {
                position: absolute;
                bottom: 25%;
                font-size: 1.3rem;
                color: black;
                left: 5%;
                width: 100%; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottoms_as span:hover {
                color: #AA0000; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottoms_as .bottoms_bottom_as {
                font-size: 1.2rem;
                position: absolute;
                z-index: 999;
                bottom: 15%;
                color: #A09D92; }
              #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom .bottoms_as .bottoms_bottom_bs {
                font-size: 1.2rem;
                position: absolute;
                z-index: 999;
                bottom: 5%;
                color: #A2A2A2;
                left: 5%; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom a:hover .bottoms_bs {
              color: #AA0000; }
            #box .content #content_content .con_con_img_1 .img_imgs_ .img_imgs_bottom a:hover img {
              left: -5%; }
      #box .content #content_content .ad-bander {
        width: 100%; }
        #box .content #content_content .ad-bander .ad-bander-box {
          width: 86%;
          margin: 0 auto;
          padding: 3% 0; }
          #box .content #content_content .ad-bander .ad-bander-box a {
            width: 100%; }
            #box .content #content_content .ad-bander .ad-bander-box a img {
              width: 100%;
              height: 82px; }
      #box .content #content_content .g-gao {
        width: 100%;
        margin-bottom: 30px; }
        #box .content #content_content .g-gao .g-gao-box {
          width: 83.5%;
          border: 1px solid #CCCCCC;
          padding-top: 30px;
          padding-left: 30px;
          margin: auto; }
          #box .content #content_content .g-gao .g-gao-box .g-gao-box-content {
            width: 100%; }
            #box .content #content_content .g-gao .g-gao-box .g-gao-box-content .g-con1 {
              width: 30%;
              float: left;
              margin-right: 3%; }
              #box .content #content_content .g-gao .g-gao-box .g-gao-box-content .g-con1 h5 {
                width: 100%;
                border-bottom: 1px solid #CCCCCC;
                margin-bottom: 50px; }
                #box .content #content_content .g-gao .g-gao-box .g-gao-box-content .g-con1 h5 span {
                  display: inline-block;
                  padding: 5px 0;
                  border-bottom: 1px solid red;
                  font-size: 14px;
                  color: #333333; }
                #box .content #content_content .g-gao .g-gao-box .g-gao-box-content .g-con1 h5 a {
                  display: inline-block;
                  padding: 5px 0;
                  float: right;
                  color: #CCCCCC;
                  text-decoration: none;
                  font-size: 12px; }
                  #box .content #content_content .g-gao .g-gao-box .g-gao-box-content .g-con1 h5 a:hover {
                    color: red; }
              #box .content #content_content .g-gao .g-gao-box .g-gao-box-content .g-con1 a {
                display: inline-block; }
                #box .content #content_content .g-gao .g-gao-box .g-gao-box-content .g-con1 a img {
                  float: left; }
              #box .content #content_content .g-gao .g-gao-box .g-gao-box-content .g-con1 ul {
                display: inline-block;
                float: right; }
                #box .content #content_content .g-gao .g-gao-box .g-gao-box-content .g-con1 ul li {
                  list-style: none;
                  margin: 10px 0; }
                  #box .content #content_content .g-gao .g-gao-box .g-gao-box-content .g-con1 ul li a {
                    text-decoration: none;
                    font-size: 12px;
                    color: #666666; }
                    #box .content #content_content .g-gao .g-gao-box .g-gao-box-content .g-con1 ul li a:hover {
                      color: red; }
      #box .content #content_content .g-con2 {
        width: 40%;
        float: left;
        margin-right: 20px; }
        #box .content #content_content .g-con2 h5 {
          width: 100%;
          border-bottom: 1px solid #CCCCCC;
          margin-bottom: 50px; }
          #box .content #content_content .g-con2 h5 span {
            display: inline-block;
            padding: 5px 0;
            border-bottom: 1px solid red;
            font-size: 14px;
            color: #333333; }
          #box .content #content_content .g-con2 h5 a {
            display: inline-block;
            padding: 5px 0;
            float: right;
            color: #CCCCCC;
            text-decoration: none;
            font-size: 12px; }
            #box .content #content_content .g-con2 h5 a:hover {
              color: red; }
        #box .content #content_content .g-con2 .g-con-top {
          margin-bottom: 20px; }
          #box .content #content_content .g-con2 .g-con-top imgs {
            float: left;
            width: 30%;
            display: inline-block; }
          #box .content #content_content .g-con2 .g-con-top dl {
            width: 70%;
            display: inline-block;
            float: right; }
            #box .content #content_content .g-con2 .g-con-top dl dt a {
              font-size: 12px;
              text-decoration: none;
              color: #333333; }
              #box .content #content_content .g-con2 .g-con-top dl dt a:hover {
                color: red; }
            #box .content #content_content .g-con2 .g-con-top dl dd a {
              font-size: 8px;
              color: #AAAAAA;
              text-decoration: none; }
              #box .content #content_content .g-con2 .g-con-top dl dd a:hover {
                color: red; }
        #box .content #content_content .g-con2 .g-con-bottom imgs {
          float: left;
          width: 30%;
          display: inline-block; }
        #box .content #content_content .g-con2 .g-con-bottom dl {
          width: 70%;
          display: inline-block;
          float: right; }
          #box .content #content_content .g-con2 .g-con-bottom dl dt a {
            font-size: 12px;
            text-decoration: none;
            color: #333333; }
            #box .content #content_content .g-con2 .g-con-bottom dl dt a:hover {
              color: red; }
          #box .content #content_content .g-con2 .g-con-bottom dl dd a {
            font-size: 8px;
            color: #AAAAAA;
            text-decoration: none; }
            #box .content #content_content .g-con2 .g-con-bottom dl dd a:hover {
              color: red; }
      #box .content #content_content .g-con3 {
        width: 25%;
        float: left; }
        #box .content #content_content .g-con3 h5 {
          width: 100%;
          border-bottom: 1px solid #CCCCCC;
          margin-bottom: 50px; }
          #box .content #content_content .g-con3 h5 span {
            display: inline-block;
            padding: 5px 0;
            border-bottom: 1px solid red;
            font-size: 14px;
            color: #333333; }
            #box .content #content_content .g-con3 h5 span i {
              color: red;
              font-size: 14px; }
        #box .content #content_content .g-con3 .con3-one {
          display: block;
          height: 40px;
          width: 80%;
          margin-bottom: 15px; }
        #box .content #content_content .g-con3 .con3-tow {
          height: 35px;
          width: 40%;
          margin-right: 20px; }
        #box .content #content_content .g-con3 button {
          height: 35px;
          width: 30%;
          border: none;
          background: #CCCCCC;
          margin-bottom: 10px; }
        #box .content #content_content .g-con3 .con3-bottom {
          width: 80%;
          height: 30px;
          line-height: 30px;
          color: white;
          background: #CF000E;
          text-align: center; }
      #box .content #content_content .text-more {
        width: 100%; }
        #box .content #content_content .text-more .text-morebox {
          width: 86%;
          margin: auto; }
          #box .content #content_content .text-more .text-morebox h3 {
            color: #333333; }
            #box .content #content_content .text-more .text-morebox h3 span {
              font-size: 12px; }
              #box .content #content_content .text-more .text-morebox h3 span i {
                color: red;
                font-size: 14px; }
          #box .content #content_content .text-more .text-morebox .text-list {
            width: 100%; }
            #box .content #content_content .text-more .text-morebox .text-list .text-item {
              width: 46.8%;
              float: left;
              border: 1px solid #CCCCCC;
              padding: 1.5%; }
              #box .content #content_content .text-more .text-morebox .text-list .text-item img {
                width: 30%;
                height: 107px; }
              #box .content #content_content .text-more .text-morebox .text-list .text-item .text-content {
                width: 60%;
                float: right; }
                #box .content #content_content .text-more .text-morebox .text-list .text-item .text-content p {
                  width: 100%;
                  font-size: 14px;
                  color: #333333; }
                  #box .content #content_content .text-more .text-morebox .text-list .text-item .text-content p a {
                    width: 111px;
                    height: 23px;
                    text-decoration: none;
                    line-height: 23px;
                    color: red;
                    border: 1px solid red;
                    padding: 2px;
                    background: #FFFFFF; }
                    #box .content #content_content .text-more .text-morebox .text-list .text-item .text-content p a:hover {
                      background: red;
                      color: white; }
                      #box .content #content_content .text-more .text-morebox .text-list .text-item .text-content p a:hover i {
                        color: white; }
                    #box .content #content_content .text-more .text-morebox .text-list .text-item .text-content p a i {
                      color: red; }
                #box .content #content_content .text-more .text-morebox .text-list .text-item .text-content span {
                  color: #777777;
                  font-size: 12px;
                  display: block;
                  margin: 5px 0; }
                  #box .content #content_content .text-more .text-morebox .text-list .text-item .text-content span a {
                    text-decoration: none;
                    font-size: 10px;
                    color: #777777; }
                    #box .content #content_content .text-more .text-morebox .text-list .text-item .text-content span a:hover {
                      color: red; }
      #box .content #content_content .foot-box {
        margin-top: 15px;
        width: 100%;
        background: #f8f8f8; }
        #box .content #content_content .foot-box .footer {
          width: 88%;
          margin-left: 6%; }
          #box .content #content_content .foot-box .footer ul {
            list-style: none;
            width: 100%; }
            #box .content #content_content .foot-box .footer ul li {
              float: left;
              margin-top: 35px;
              text-align: center;
              display: inline-block;
              width: 14.285%;
              font-size: 14px; }
              #box .content #content_content .foot-box .footer ul li a {
                text-decoration: none;
                color: #000000; }
                #box .content #content_content .foot-box .footer ul li a .span-tu {
                  display: inline-block;
                  margin-top: 10px;
                  width: 50px;
                  height: 50px;
                  border: 2px solid #d4202c;
                  border-radius: 50%;
                  text-align: center;
                  line-height: 60px; }
                  #box .content #content_content .foot-box .footer ul li a .span-tu i {
                    width: 45px;
                    height: 45px;
                    background: transparent;
                    color: #d4202c; }
        #box .content #content_content .foot-box .footer-cen {
          width: 88%;
          padding-top: 180px;
          margin-left: 6%; }
          #box .content #content_content .foot-box .footer-cen ul {
            display: inline-block;
            margin-left: 3%;
            list-style: none;
            margin-right: 3%; }
            #box .content #content_content .foot-box .footer-cen ul li {
              padding-top: 8px;
              font-size: 10px;
              color: #999999;
              text-align: ccenter;
              cursor: pointer; }
              #box .content #content_content .foot-box .footer-cen ul li:nth-child(1) {
                font-size: 14px;
                color: #444444; }
            #box .content #content_content .foot-box .footer-cen ul li:nth-child(1):hover {
              color: #444444; }
            #box .content #content_content .foot-box .footer-cen ul li:hover {
              color: red; }
          #box .content #content_content .foot-box .footer-cen #footer-right {
            height: 220px;
            width: 20%;
            margin-left: 30px;
            display: inline-block; }
            #box .content #content_content .foot-box .footer-cen #footer-right > p:nth-child(1) {
              font-size: 14px;
              color: #000000;
              margin-bottom: 5px; }
            #box .content #content_content .foot-box .footer-cen #footer-right > p:nth-child(2) {
              font-size: 16px;
              color: red;
              font-weight: bold;
              margin-bottom: 5px; }
            #box .content #content_content .foot-box .footer-cen #footer-right > p:nth-child(3) {
              font-size: 12px;
              color: #999999;
              margin-bottom: 5px; }
              #box .content #content_content .foot-box .footer-cen #footer-right > p:nth-child(3) span {
                color: red; }
            #box .content #content_content .foot-box .footer-cen #footer-right > p:nth-child(4) {
              margin-top: 30px;
              width: 115px;
              height: 25px;
              border: 1px solid red;
              text-align: center;
              line-height: 25px;
              color: red;
              font-size: 12px; }
              #box .content #content_content .foot-box .footer-cen #footer-right > p:nth-child(4) span {
                background: transparent;
                color: red; }
            #box .content #content_content .foot-box .footer-cen #footer-right > p:nth-child(5) {
              margin-top: 10px;
              width: 115px;
              height: 25px;
              border: 1px solid red;
              text-align: center;
              line-height: 25px;
              color: red;
              font-size: 12px; }
              #box .content #content_content .foot-box .footer-cen #footer-right > p:nth-child(5) span {
                background: transparent;
                color: red; }
        #box .content #content_content .foot-box .booter-bom {
          width: 100%;
          height: 170px;
          background: #1f1f1f; }
          #box .content #content_content .foot-box .booter-bom ul {
            width: 88%;
            margin-left: 6%;
            list-style: none;
            display: inline-block; }
            #box .content #content_content .foot-box .booter-bom ul > li {
              margin-top: 25px;
              font-size: 12px;
              color: darkgray;
              float: left;
              margin-right: 2%; }
              #box .content #content_content .foot-box .booter-bom ul > li > a {
                text-decoration: none;
                color: #717177;
                font-size: 12px; }
              #box .content #content_content .foot-box .booter-bom ul > li a:hover {
                color: red; }
        #box .content #content_content .foot-box #spans {
          display: inline-block;
          width: 88%;
          margin-left: 6%;
          border-bottom: 0.2px solid #717177;
          padding-bottom: 23px; }
          #box .content #content_content .foot-box #spans span {
            float: left;
            margin-right: 1.5%; }
            #box .content #content_content .foot-box #spans span a {
              text-decoration: none;
              font-size: 12px;
              color: #717177; }
            #box .content #content_content .foot-box #spans span a:hover {
              color: red; }
        #box .content #content_content .foot-box .bom-2 {
          display: inline-block;
          margin-left: 6%;
          margin-top: 20px; }
          #box .content #content_content .foot-box .bom-2 span {
            float: left;
            margin-left: 5px;
            color: #717177; }
            #box .content #content_content .foot-box .bom-2 span a {
              text-decoration: none;
              font-size: 12px;
              color: #717177; }
            #box .content #content_content .foot-box .bom-2 span a:hover {
              color: red; }
        #box .content #content_content .foot-box .p-b {
          margin-left: 6.3%;
          font-size: 12px;
          color: #717177;
          margin-top: 8px; }
          #box .content #content_content .foot-box .p-b span {
            cursor: pointer; }
          #box .content #content_content .foot-box .p-b span:hover {
            color: red; }
        #box .content #content_content .foot-box .p-r {
          position: absolute;
          right: 15%;
          font-size: 12px;
          color: #717177;
          margin-top: -25px; }
          #box .content #content_content .foot-box .p-r a {
            font-size: 12px;
            color: #717177;
            text-decoration: none; }
        #box .content #content_content .foot-box .p-r:hover a {
          color: red; }
        #box .content #content_content .foot-box .p-r1 {
          position: absolute;
          right: 10%;
          font-size: 12px;
          color: #717177;
          margin-top: -25px; }
          #box .content #content_content .foot-box .p-r1 a {
            font-size: 12px;
            color: #717177;
            text-decoration: none; }
        #box .content #content_content .foot-box .p-r1:hover a {
          color: red; }
        #box .content #content_content .foot-box .p-r2 {
          position: absolute;
          right: 5%;
          font-size: 12px;
          color: #717177;
          margin-top: -25px; }
          #box .content #content_content .foot-box .p-r2 a {
            font-size: 12px;
            color: #717177;
            text-decoration: none; }
      #box .content #content_content .fl {
        float: left;
        display: inline; }
      #box .content #content_content .fr {
        float: right;
        display: inline; }
      #box .content #content_content .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      #box .content #content_content .clearfix {
        display: inline-block; }

/*# sourceMappingURL=index.css.map */
